@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&family=Open+Sans:wght@300&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
 color: #fff;
  margin-bottom: 0.5rem;
  font-size: 0.7rem;

}
body {
  background: cyan;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.to-do-container {
  background: #1A1A40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.to-do-form {
  width: 100%;
}

@media (max-width: 440px) {
  .to-do-input{
    width: 100%;
  }
  .to-do-form {
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
  }

  p {
    font-size: 0.65rem;
    padding-top: 0.25rem;
  }
}

.to-do-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.to-do-input::placeholder {
  color: #ffffff4d;
}

.to-do-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.to-do-btn:hover {
  box-shadow: 0 0 5px cyan,
  0 0 25px cyan, 0 0 50px cyan,
  0 0 100px cyan, 0 0 200px cyan
}

.to-do {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.alert{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}
.fa-trash {
  margin-left: 0.75rem;
}

.fa-trash:hover {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.fa-pen-to-square:hover {
 
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}


.completed {
  color: #c5aeff;
  text-decoration: line-through;
}